<h2>Lista de recursos</h2>

<!-- <a class="btn btn-primary" routerLink="agregar-recurso" role="button">Agregar recurso</a>
<a class="btn btn-primary" routerLink="agregar-recurso" role="button">Link</a>
<button type="button" class="btn btn-primary">Primary</button> -->

<div class="row">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Código</th>
            <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recurso of Recursos; let iControl=index">
            <th scope="row">{{recurso.id}}</th>
                <td>{{recurso.title}}</td>
                <td>{{recurso.userId}}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-info" routerLink="/editar-recurso/{{recurso.id}}">Editar</a>
                        <a class="btn btn-danger" (click)="eliminarRecurso(recurso.id, iControl)">Eliminar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>