<h2>Lista de recursos</h2>

<!-- <a class="btn btn-primary" routerLink="agregar-recurso" role="button">Agregar recurso</a>
<a class="btn btn-primary" routerLink="agregar-recurso" role="button">Link</a>
<button type="button" class="btn btn-primary">Primary</button> -->

<div class="row">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Código</th>
            <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Proyector</td>
                <td>345346535</td>
                <td>
                    <div class="btn-group">
                        <a routerLink="/editar-recurso/1" class="btn btn-primary">Editar</a>
                        <a routerLink="/editar-recurso/1" class="btn btn-danger">Eliminar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>